/* Collapsible shortcode */
.collapse {
  margin: 1em 0;
}

.collapse-title {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1em;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.collapse-title::before {
  content: "+";
  font-weight: bold;
  width: 1em;
}

.collapse[open] .collapse-title::before {
  content: "-";
}


.collapse-title::marker,
.collapse-title::-webkit-details-marker {
  display: none;
}

.collapse-content {
  margin-top: 0.5em;
  padding-left: 1em;
  border-left: 3px solid #ddd;
}